<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="calendar.css">
</head>
<body>
	<div id="app">
		<div id="header">
			<div class="month">
				<h4>2017年{{current_month}}月</h4>
				<div class="month_control">
					<div class="next_month" @click="next_month">
						<i class="fa fa-chevron-up" aria-hidden="true"></i>
					</div>
					<div class="prev_month" @click="prev_month">
						<i class="fa fa-chevron-down" aria-hidden="true"></i>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="weekday" v-for="weekday in weekdays">
					<h5>{{weekday}}</h5>
				</div>
			</div>
		</div>
		<hr>
		<div id="calendar">
			<day v-for="(day, i) in days" :day="day" :i="i" :todo="todo" :todo_list="todo_list"></day>
		</div>
		
	</div>

	<template id="day">
		<div class="day hide" :class="'week_'+Math.floor(i/7+1)" :id="'day_'+i">
			<h5>{{day}}日</h5>
			<div class="todo" v-for="(todo, index) in todo_list" v-if="todo_flag(todo, i)">
				<div class="todo_check" :id="'check_'+i+'_'+index" @click="check(i, index)">
					<i class="fa fa-check" aria-hidden="true"></i>
				</div>
				<p>{{todo.title}}</p>
				<i class="fa fa-trash" aria-hidden="true" @click="delete_todo(index)"></i>
			</div>

			<div class="new_todo"> 
				<i class="fa fa-plus-circle" aria-hidden="true" @click="new_todo(i)">
					<p>新增待辦事項</p>
				</i>
				<form class="add_todo" :id="'todo_'+i" @submit.prevent="add_todo(i)">
					<input class="form-control" type="text" v-model="todo" autofocus></input>
					<i class="fa fa-times" aria-hidden="true" @click="close_add_todo(i)"></i>
				</form>
			</div>
		</div>
	</template>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
	<script src="calendar.js"></script>
</body>
</html>