html, body {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	font-family: "Helvetica Neue", 微軟正黑體, "Microsoft Jhenghei", Helvetica, Arial, sans-serif;
}
.new_todo {
	margin-top: 5vh;
}
hr {
	margin: 35px -20px;
}
.edit_todo, .done, .undone {
	display: none;
}
.tab {
	width: 90px;
	height: 30px;
	border: 2px solid #2274A5;
	text-align: center;
	line-height: 26px;
	font-size: 16px;
	cursor: pointer;
	color: #2274A5;
	border-radius: 15px;
	margin: 2px;
	display: inline-block;
	font-weight: 500;
}
.tab:hover, .tab.active {
	color: #fff;
	background-color: #2274A5; 
}
.header_title, .header_content {
	padding: 7px 26px;
	font-size: 16px;
	font-weight: 500;
	color: #2274A5;
}
.title, .content {
	padding: 7px 26px;
	font-size: 16px;
	word-wrap: break-word;
}
.edit_todo {
    display: none;
}
.btn:hover {
	color: #fff;
}
.btn:focus {
	color: #fff;
}
.btn_new_todo {
	background-color: #26407C;
	color: #fff;
	margin: 0 10px;
}
.btn_new_todo:hover {
	background-color: #192A51;
}
.btn_clear_done {
	background-color: #DA4167;
	color: #fff;
	margin: 0 10px;
}
.btn_clear_done:hover {
	background-color: #BF395A;
}
.status_btn, .edit_btn, .delete_btn, .finish_btn {
	width: 75px;
	margin: 0 2px;
}




